[bridge]

;
; core configuration options
;

;
; listener_port
; port to listen for incoming feed requests 
;
listener_port=7000

;
; listener_address
; ipv4 address to listen; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

;
; Cyphort API key
;
cyphort_api_key=

;
; Cyphort URL
; url for Cyphort api
;
cyphort_url=

;
; binary_filter_query
; filter out binaries from analysis by Cyphort. By default- don't analyze binaries signed by Microsoft.
;
binary_filter_query=-digsig_publisher:"Microsoft Corporation" is_executable_image:true is_64bit:false

;
; legacy_feed_directory
; Import feed reports from the old version of the Cyphort connector the first time the new daemon runs.
;
legacy_feed_directory=/usr/share/cb/integrations/carbonblack_cyphort_bridge/feed_backup


;
; Carbon Black Enterprise Server options
;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://localhost/

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=

;
; Carbon Black Enterprise Server SSL Verfication
;
carbonblack_server_sslverify=0


;
; debugging options
;

; debug
; enables various debug output
;
debug=1
